<header class="page-header">
  <h1>Database Summary</h1>
</header>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Total Products</th>
      <th>Total Categories</th>
    </tr>
  </thead>
  <tbody>
   <tr>
     <td><%= @product_count %></td>
     <td><%= @category_count %></td>
   </tr>
  </tbody>
</table>